body{
    text-align: center;
    background: url("12.jpg");
    background-size: cover;
}
.mainarea{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}
.editors{
    width: 100%;
    background-color: #1211115c;
    backdrop-filter: blur(10px);
}
textarea{
    width: 100%;
    min-height: 250px;
    overflow: scroll;
    font-size: x-large;
}
iframe{
    padding-top: 3%;
    width: 90%;
    height: 30em;
    background-color: white;
    position: absolute;
    top:600px;
    left:80px;
}
.button {
    padding: 8px 8px;
    margin: 0 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items:center;
  }
  .button:hover {
    background-color: #3498db;
    color: #fff;
  }
  #display{
    font-size: 30px;
  }
#charCount{
    font-size: 20px;
}
.boxi{
        max-width: 400px;
        margin: 50px auto;
        background-color: #1211115c;
        backdrop-filter: blur(10px);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        color:white;
        position: absolute;
        top: 400px;
        left: 640px;
}
h3{
    position:absolute;
    top:550px;
    left:100px;
    color:white;
}
h2{
    color:white;
}


/* CSS */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}